*{
	padding: 0;
	margin: 0;
}
body{
	background: none;
}
h1{
	font-size: 80px;
}
main{
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	text-align: center;
	margin-top: 80px;
}